*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: block;
  background-color: #4A4A4A;
}

.header {
  height: 150px;
}

.header div {
  padding-top: 45px;
  padding-bottom: 45px;
  color: white;
  float: left;
  width: 20%;
  font-size: 3em;
}

.arrow {
  height: 20px;
  padding-left: 30px;
}

.search {
  padding-right: 30px;
  height: 20px;
  text-align: right;
}

.location {
  font-size: 1.5em !important;
  width: 60% !important;
}

img {
  width: 100%;
}


h1 {
  text-align: center;
  line-height: normal;
  color: white;
  font-size: 2em;
  margin: 0px;
}

.Headings {
  background-color: #4A4A4A;
  align-content: space-between;
  height: 90px;
}

.labels {
  color: #4A4A4A;
}

h3 {
  color: white;
}

ul {
  list-style: none;
  display: flex;
}

h4 {
  display: block;
  margin-top: 0px;
  padding-top: 15px;
  margin-left: 30px;
  color: white;
  font-size: 2.5em;
}

h5 {
  display: inline-flex;
  margin-left: 30px;
  margin-right: 175.9px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 2.2em;
  font-weight: bolder;
}

.upper_left {
  color: #144CB3;
  font-weight: bolder;
  font-size: 2.2em;
  margin-left: 0px;
  margin-right: 2px;
  width: 20px;
}

.bottom_left {
  font-size: 2em;
  width: 150px;
  margin-right: 0px;
  margin-left: 45px;
  word-wrap: break-word;

}

.upper_center {
  font-size: 2em;
  font-weight: bolder;
  margin-left: 45px;
  width: 200px;
}

.upper_right {
  font-size: 2em;
  margin-left: 120px;
  font-weight: lighter;
  width: 300px;
}
ul {
  color: #4A4A4A
}
